/* 
1 - Posicionamiento
2 - Modelo de Caja
3 - Tipografía
4 - Efectos Visuales
5 - Otros
*/

/* Variables */
:root {
  /* Colores */
  --linear-background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
  --bitcoin-orange: #F7931A;
  --soft-orange: #FFE9D4;
  --secondary-blue: #1A9AF7;
  --soft-blue: #E7F5FF;
  --warm-black: #201E1C;
  --warm-black1: #282623;
  --grey: #B5B0AB;
  --off-white: #FAF8F7;
  --white: #FFFFFF;

  /* Fonts */
  --font-DmSans: 'DM Sans', sans-serif;
  --font-Inter: 'Inter', sans-serif;

  /* Sizes */
  --textLogo-size: 2.6rem;
  --h1-size: 2.4rem;
  --h2-size: 1.4rem;
  --h3-size: 1.2rem;
  --p-size: 1.3rem;

  /* Weights */
  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-700: 700;

  /* Heights */
  --h1-height: 1;
  --p-height: 1.2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: var(--font-DmSans);
  scroll-behavior: smooth;
}

main {
  width: 100vw;
  min-width: 320px;
  text-align: center;
  background-color: var(--off-white);
  padding-top: 5rem;
  padding-bottom: 3rem;
}

sup {
  font-size: 1.6rem;
  color: #363636;
  padding: 0 .5rem;
  vertical-align: 25px;
}

.header-container {
  width: 100vw;
  min-width: 320px;
  margin: 0 auto;
  background: var(--linear-background);
  text-align: center;
  padding: 2rem;
  position: relative;
}

.header-title-container {
  display: flex;
  width: 180px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.header-logo-text,
.title-table {
  font-size: var(--textLogo-size);
  color: #F7931A;
  font-weight: var(--weight-700);
}

.header-title,
.exchange-title,
.benefits-title,
.photo-title,
.plans-title {
  width: 288px;
  font-size: var(--h1-size);
  color: var(--white);
  margin: 2rem auto;
  line-height: var(--h1-height);
}

.header-subtitle,
.exchange-subtitle,
.benefits-subtitle,
.plans-subtitle {
  width: 288px;
  font-size: var(--p-size);
  font-weight: var(--weight-500);
  line-height: var(--p-height);
  color: var(--soft-orange);
  margin: 2rem auto;
}

.header-btn {
  background-color: var(--off-white);
  width: 250px;
  height: 50px;
  border: none;
  border-radius: .4rem;
  box-shadow: 0 5px 5px 1px #28262322;
  font-size: var(--h2-size);
  font-weight: var(--weight-700);
  position: absolute;
  bottom: -2rem;
  left: calc(50% - 125px);
  right: -4rem;
  padding: 1.5rem;
  text-decoration: none;
  color: #000;
}

.backgroundExchangeImg {
  width: 200px;
  height: 200px;
  margin: 0 auto 3rem;
  background-image: url("./Assets/img/bitcoin.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.exchange-title {
  color: var(--warm-black);
}

.exchange-subtitle {
  color: #757575;
  font-size: 14px;;
}

.main-table-container {
  width: 70%;
  min-width: 235px;
  max-width: 300px;
  height: 340px;
  margin: 0 auto;
  font-family: var(--font-Inter);
}

.title-table {
  margin-bottom: 1rem;
  line-height: 2.3rem;
  font-size: 1.8rem;
}

.info-table {
  background-color: #fff;
  border-radius: 1.5rem;
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 180px;
  margin: 0 auto 2.5rem;
  padding: 0 2rem;
}

.info-table td {
  width: 50%;
  font-size: 1.8rem;
}

.table-column-left {
  color: var(--grey);
}

.table-column-right {
  font-weight: 300;
  color: #757575;
}

.info-actualization {
  width: 170px;
  height: 32px;
  margin: 0 auto;
  background-color: var(--soft-orange);
  color: var(--warm-black);
  border-radius: .8rem;
  font-size: 1.1rem;
  line-height: 1.6rem;
  padding: .8rem;
}

.main-benefits-container {
  background-color: var(--warm-black);
  height: 880px;
  position: relative;
}

.backgroundBenefitsImg {
  width: 40px;
  height: 24px;
  position: absolute;
  background-image: url('./Assets/icons/batata.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: -12px;
  left: calc(50% - 20px);
}

.benefits-title {
  margin-top: 0;
  padding-top: 64px;
}

.benefits-subtitle {
  color: #808080;
}

.main-benefits-cards {
  width: 288px;
  height: 152px;
  margin: 1.6rem auto;
  padding: 1.6rem;
  background-color: var(--warm-black1);
  border-radius: .4rem;
  text-align: start;
}

.benefits-cards-img {
  width: 22px;
  height: 22px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 1rem;  
}

.img1 {  
  background-image: url('./Assets/icons/clock.svg');
}

.img2 {  
  background-image: url('./Assets/icons/eye.svg');
}

.img3 {  
  background-image: url('./Assets/icons/dollar-sign.svg');
}

.img4 {  
  background-image: url('./Assets/icons/check-circle.svg');
}

.benefits-card-title {
  color: var(--white);
  font-size: 1.8rem;
  line-height: 1.8rem;
  margin-bottom: 1rem;
}

.benefits-card-paragraph {
  color: #808080;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.main-photo-container {
  width: 100vw;
  min-width: 320px;
  height: 387px;
  position: relative;
  background-image: url('./Assets/img/bitcoinbaby.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.photo-title {
  margin: 0 auto;
  padding: 6.4rem 0 0 0;
}

.main-plans-container {
  background-color: var(--off-white);
}

.plans-title {
  color: var(--warm-black);
  margin-top: 0;
  padding: 6rem 0 0;
}

.plans-subtitle {
  color: var(--grey);
  font-size: 1.4rem;
}

.plans-card-container {
  display: flex;
  font-family: var(--font-Inter);
  height: 265px;
  align-items: flex-end;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.plan-card {
  position: relative;
  scroll-snap-align: center;
  width: 70%;
  min-width: 230px;
  max-width: 300px;
  height: 247px;
  margin: 50px 20px 0;
  background-color: var(--white);
  border-radius: .8rem;
  box-shadow: 2px 4px 10px #59491E26;
}

.recomendation {
  position: absolute;
  top: -1.5rem;
  left: calc(50% - 58px);
  padding: 1rem;
  background-color: var(--bitcoin-orange);
  color: var(--white);
  font-family: var(--font-Inter);
  font-size: var(--h3-size);
  font-weight: var(--weight-700);
  border-radius: .8rem;
  letter-spacing: 1px;
}

.plan-card-title {
  margin-top: 3.1rem;
  font-family: var(--font-DmSans);
  font-size: var(--h2-size);
  font-weight: var(--weight-500);
  line-height: 1.8rem;
  color: #000;
}

.price {
  margin-top: .8rem;
  font-size: 5.2rem;
  font-weight: var(--weight-700);
}

.info {
  margin-top: .8rem;
  font-size: var(--h3-size);
  color: #757575;
}

.call-to-action {
  font-size: var(--h2-size);
  font-weight: var(--weight-700);
  line-height: 1.8rem;
  padding: 1rem 2rem;
  margin-top: 3rem;
  border: 3px solid var(--bitcoin-orange);
  border-radius: .5rem;
  background-color: var(--off-white);
  color:  var(--warm-black);
}

.orange-arrow {
  display: inline-block;
  width: 24px;
  height: 16px;
  background-image: url('./Assets/icons/orange-right-arrow.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: text-bottom;
}